#container{
    height: 100vh;
    background-image: url('../../assets/images/strange.jpg');
    /* background-size: contain;
    background-repeat: no-repeat; */
    background-size: cover;
}
#divContent{
    margin-left: 100px;
}

@font-face {
    font-family: 'Stranger Doctor Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Stranger Doctor Regular'), url('../../assets/fonts/Stranger\ Doctor.woff') format('woff');
    }

.strange{
    font-family:'Stranger Doctor Regular';
    color: crimson;
}